.bg-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
}
.card {
  display: flex;
  flex-direction: column;
  width: 90%;
}
.main-image {
  height: 400px;
}
.heading {
  font-size: 30px;
  font-family: 'Roboto';
  color: #1e293b;
  font-weight: bold;
}
.para {
  font-size: 20px;
  font-family: 'Roboto';
  color: #64748b;
}
.lists-container {
  padding-left: 0px;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}
