.list-item {
  list-style-type: none;
  width: 10%;
}
.image-button {
  background-color: transparent;
  border: none;
  width: 100%;
}
.image {
  height: 90px;
  width: 100%;
  opacity: 0.5;
}
.apply-active-class {
  height: 90px;
  width: 100%;
}
@media screen and (max-width: 576px) {
  .list-item {
    width: 25%;
  }
}
